.navbar {
  background-color: #FFCC33;
}
.navbar .navbar-top {
  background-color: #204099;
  border: 2px solid #fff;
  border-top: none;
}
.navbar .navbar-top .navbar-input-search input::-moz-placeholder {
  color: #9BA3AF;
  font-size: 0.9rem;
}
.navbar .navbar-top .navbar-input-search input::placeholder {
  color: #9BA3AF;
  font-size: 0.9rem;
}
.navbar .navbar-top .navbar-input-search div {
  top: 25%;
  right: 2%;
}
.navbar .navbar-top .navbar-input-search div i {
  color: #CFD3D8;
}
.navbar .navbar-top .navbar-right p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 0.875rem;
  color: #fff;
}
.navbar .navbar-bottom .navbar-bottom-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .navbar-bottom .navbar-bottom-item div {
  font-weight: bold;
  color: rgb(33, 64, 154);
  font-size: 13px;
}
