.list-category .category-item {
  width: 85px;
}
.list-category .category-item > div:nth-child(1) {
  height: 115px;
}
.list-category .category-item img {
  transform: translateY(29%);
}

.bar-category {
  width: 12%;
  margin: 0 auto;
}
.bar-category .progress {
  height: 7px;
}
.bar-category .progress .progress-bar {
  background-color: #21409a;
  border-radius: 10px;
}
